body {
  margin-top: 2%;
  padding-left: 1rem;
}

svg {
  background: transparent;
}

.active {
  color: black;
}

a {
  text-decoration: none;
  color: gray;
  font-size: 1em;
}

ul {
  list-style-type: none;
}

.x-axis {
  position: fixed;
  background-color:transparent;
}

.tooltipxaxis {
  /* background-color: pink; */
  border: 1px dashed;
  height:10%;
  /* overflow-x:scroll; */
}

.menu {
  margin-left: 8%;
  padding-left:0.5em;
  border:1px black solid;
  margin-right: 79%;
}

#publishers {
  border:1px black solid;
  margin-right: 92%;
  padding-right: 1em;
  padding-left: 0.5em;
}
