body {
  margin: 0;
  padding-left: 1rem;
}

svg {
  background: transparent;
}

.active {
  color: black;
}

a {
  text-decoration: none;
  color: gray;
  font-size: 1em;
}

ul {
  list-style-type: none;
}

.x-axis {
  position: fixed;
  background-color:transparent;
}

.tooltipxaxis {
  /* background-color: pink; */
  border: 1px dashed;
  height:10%;
  /* overflow-x:scroll; */
}
